<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

</nav> -->
<html>

<head></head>

<body ng-app="commonApp" ng-controller="RootCtrl">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-items-left" title="Click To Return to Home Screen.">
                    <a target="_self">
                        <img src="../assets/images/logo.jpeg" style="height:63px;" />
                    </a>
                </div>
                <div class="col-md-8 text-right">
                    <nav class="navbar navbar-expand-lg navbar-dark top-nav">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="topNavBar">
                            <ul class="navbar-nav mr-auto ">
                                <li class="nav-item" id="ni-Welcome">
                                    <a class="nav-link" title="Welcome" [routerLink]="['/welcome']">HOME</a>
                                </li>
                                <li class="nav-item" id="ni-nonps-staff">
                                    <a class="nav-link" title="View All Stars">VIEW All STARS</a>
                                </li>
                                <li class="nav-item" id="ni-nonps-staff1">
                                    <a class="nav-link" title="Review Stars">REVIEW STARS</a>
                                </li>
                                <li class="nav-item" id="ni-user-mgmt">
                                    <a class="nav-link" title="USER MANAGEMENT" [routerLink]="['/manageuser']">USER MANAGEMENT</a>
                                </li>
                                <li class="nav-item" id="ni-support">
                                    &nbsp; <button type="button" class="btn btn-warning cust ml-3 text-white" (click)="login()">SUBMIT STAR</button>
                                </li>
                                <li class="nav-item" id="ni-support" *ngIf="isloggedinuser">
                                    &nbsp; &nbsp; <button type="button"  class="btn btn-warning cust ml-3 text-white" (click)="login()">LOGIN</button>
                                </li>
                                <li class="nav-item" id="ni-support" *ngIf="!isloggedinuser">
                                    &nbsp;&nbsp; <button type="button"  class="btn btn-warning cust ml-3 text-white" (click)="logout()">LOGOUT</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>
</html>