<!-- 
<html>

<head>
    <link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
</head>

<body ng-app="commonApp" ng-controller="RootCtrl">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 align-items-left" title="Click To Return to Home Screen.">
                    <a target="_self">
                        <img src="../assets/images/logo.jpeg" style="height:63px;" />
                    </a>
                </div>
                <div class="col-md-8 text-right">
                    <nav class="navbar navbar-expand-lg navbar-dark top-nav">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavBar" aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="topNavBar">
                            <ul class="navbar-nav" style="margin-left:auto;">
                                <li class="nav-item" id="ni-Welcome">
                                    <a class="nav-link" title="Welcome" [routerLink]="['/welcome']">HOME</a>
                                </li>
                                <li class="nav-item" id="ni-nonps-staff">
                                    <a class="nav-link" title="View All Stars">VIEW All STARS</a>
                                </li>
                                <li *ngIf="this.isadminUser" class="nav-item" id="ni-nonps-staff1">
                                    <a class="nav-link" title="Review Stars">REVIEW STARS</a>
                                </li>
                                <li *ngIf="this.isadminUser" class="nav-item" id="ni-user-mgmt">
                                    <a class="nav-link" title="USER MANAGEMENT" [routerLink]="['/manageuser']">USER MANAGEMENT</a>
                                </li>
                                <li class="nav-item" id="ni-support">
                                    &nbsp; <button type="button" class="btn btn-warning cust ml-3 text-white" [routerLink]="['/submitstar']">SUBMIT STAR</button>
                                </li>
                                <li class="nav-item" id="ni-support" *ngIf="isloggedinuser">
                                    &nbsp; &nbsp; <button type="button"  class="btn btn-warning cust ml-3 text-white" (click)="login()">LOGIN</button>
                                </li>
                                <li class="nav-item" id="ni-support" *ngIf="!isloggedinuser" style="margin-left:10px;margin-top: 5px;">
                                    
                                    <div class="signout text-right">
                                        <a  title="Sign Out"><i class="fa fa-sign-out text-white cust ml-3 text-white" (click)="logout()" aria-hidden="true"></i></a>
                                    </div> 
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>
</html> -->
<nav class="navbar navbar-expand-md navbar-dark bg-star mb-5 pb-4 pt-4">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/logo.jpeg" alt="" srcset="" width="254"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 text-uppercase">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/welcome']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/viewallstars']">VIEW ALL STARS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/reviewstars']">REVIEW STARS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" [routerLink]="['/manageuser']">USER MANAGEMENT</a>
                </li>
                <li class="nav-item">
                    <a class=" bg-orange rounded-pill nav-link" href="#" [routerLink]="['/submitstar']">SUBMIT A STAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pt-0 mt-0" type="submit"><img src="../../../assets/images/user1.jpg" alt="mdo" width="28" height="28" class="rounded-circle"> ANDREW VEGODA<br><span class="text-capitalize">User Type: Super Admin</span></a>
                </li>
                <li class="nav-item" id="ni-support" *ngIf="!isloggedinuser">
                    
                        <a  title="Sign Out" type="submit"><i class="fa fa-sign-out text-white cust  text-white  nav-link" (click)="logout()" alt="mdo" aria-hidden="true" style="font-size: x-large;margin-right: -50px;"></i></a>
                  
                </li>

            </ul>

        </div>
    </div>
</nav>