/* Show it's not fixed to the top */
body {
    min-height: 75rem;
  }
  .bg-star{background-color: #031461; background-image: url('../../assets/images/img.jpeg');}
  .bg-orange{background-color: #f88d2a; color: white; text-decoration: none;}
  .bg-orange:hover{color: white; background-color: #031461; cursor: pointer;}
  a.nav-link.bg-orange:hover{color: #031461!important; background-color: white; cursor: pointer;}
  .simages{width: 24px; fill:white}
  .nav-link {
    padding: 0.57rem 1rem;
    padding-left:1rem!important ;
    padding-right:1rem!important ;
    font-size: 0.8rem;
  }
  .navbar-brand {
    padding-top: 0.532rem;
    padding-bottom: 0.532rem;}
    .navbar-dark .navbar-nav .nav-link {
      color: rgb(255,255,255);
  }
  .border-0{border-style: none!important; border-width: 0!important;}
  .table>:not(caption)>*>* {
    border-bottom-width: 0px;
  }
  table.submit-star td{padding: 0;}
  .comment{width:200px; background-color: #eeeeee; border-radius: 10px 0 10px 10px; padding: 10px; position: relative; }
  .comment::before{ content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #eeeeee;
    border-top: 10px solid #eeeeee;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 10px;
  }
  .comment::after {
    content:'';
    background: url('../../assets/images/star.png'); /*url of image*/
    height: 30px; /*height of image*/
    width: 30px;  /*width of image*/
    position: absolute;
    left: -60px;
    top: -4px;
    background-size: contain;
    }
  .comment, .star-preview{line-height: 16px;}
  .comment p{line-height: 18px;}
  .comment images{position: absolute; right:0; top:0;}
  .star-preview > small{line-height: 10px !important;}
  .border-star{border-color: #4196cc!important;}
  .Stxt{ display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;}
    .text-blue{color: #031461!important;}
    .text-gray{color:#aaaaaa}
    .hiddenRow {
      padding: 0 !important;
  }

  .modal-content {border-radius: 1.5rem;}

  td.show-hide a:not(.collapsed)
  {


      font-weight: bold;
      background-color: #f2F2F2;
      background-image: url("../../assets/images/icon-contract.png");
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;

  }

  .Stxt {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;
}
  td.show-hide a.collapsed
  {

    height: 20px;
      font-weight: bold;
      background-color: #f2F2F2;
      background-image: url("../../assets/images/icon-expand.png");
      background-repeat: no-repeat;
  }
  td.show-hide a.btn:focus {
    outline: 0;
    box-shadow: none;
  }
  .searchName .input-group-text {background-color: white!important;}
  .bg-submit{background-color: #4197cb;}
  .bg-pending{background-color: #853694;}
  .bg-approve{background-color: #94c93d;}
  .bg-deny{background-color: #e81f76;}
  .bg-gray2-btn{background-color: #bbbbbb;}
  .badge {
    display: inline-block;
  width:80px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;}

    .form-check-input[type=checkbox] {
      border-radius: 0;border-color: #031461;
  }
  .form-check-input:checked {
    background-color: #031461;}

    .btn-group-sm>.btn, .btn-sm {
      padding: 0.1rem 0.5rem;}

      .tableStar > table:nth-child(odd) {
        background: #ededed;

    }
    .tableStar > table td{padding: 5px;}
    .circle{width:8px; height: 8px; display: inline-block; float: left; margin-right: 5px; border-radius: 50%;margin-top: 8px;}

    #searchUser .btn-outline-blue{ border-color:#037bff; color:#037bff}
    #searchUser .text-blue{ color:#037bff}
    #searchUser .btn-outline-blue:hover{ background-color: #037bff; color: #fff;}
    #searchUser table{font-size: 14px; color: #6c757d;}
    #searchUser table tr:hover{background-color: #b8daff; color:#031461;}

   .star-comment .comment-box{background-color: #eeeeee; border-radius: 25px; min-height: 100px; position: relative;}
  .star-comment .comment-box images.user {border-radius: 25px 0 10px 0;  width: 60px; height:60px;}
  .star-added{background-color: #1a428a; padding: 50px; text-align: center; display: block;}

    .star-bg{background-image: url('../../assets/images/img.jpeg'); min-height:90vh; max-width: 100%; background-repeat:no-repeat ; background-size: cover; margin-bottom: 50px;}


    .title-b-48 {
      font-family: "SEGOEUIB", "Segoe UI Bold", "Segoe UI";
      font-size: 48px;
     font-weight: 800;
  }
  .title-r-34 {
    font-family: "SEGOEUI","Segoe UI Regular", "Segoe UI";
    font-size: 34px;
    color: #1d4189;
  }
  .title-r-20 {
    font-family: "SEGOEUI","Segoe UI Regular", "Segoe UI";
    font-size: 20px;
    color: #1d4189;
  }

  .show-more .more-text{
    display: none;
  }


  .text-orange{color:#f88d2a;}
  .wrap-slider .tsb {
    padding: 5px 10px 10px 10px;
    background: #eeeeee;
    border-radius: 15px;
  }
  .tsb {
    margin: 0 0 7px;
    width: 100%;
  /* height: 150px; */
    margin-left: 71px !important;
   
  }
  #nt-example1 .tsb {
    padding: 5px 10px 10px 10px;
    background: #eeeeee;
    border-radius: 15px;
    width: 87%;
    margin: 0 auto 7px !important;

  }
  .tsb {
    margin: 0 0 7px !important;
  }
  #nt-example1-container ul li{list-style: none;}
  .star-bg .btn.bg-orange:hover{background-color: #fff; color: #031461;}

  .mt-n1 {
    margin-top: -1.5rem !important;
  }
  .mt-n2 {
    margin-top: -2.5rem !important;
  }
  .mt-n3 {
    margin-top: -3.5rem !important;
  }
  .mt-n4 {
    margin-top: -4.5rem !important;
  }
  .mt-n5 {
    margin-top: -5.5rem !important;
  }
  .mt-l3 {
    margin-top: 3.5rem !important;
  }

  .title-b-20 {
    font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
    font-size: 20px;
    color: #1d4189;
  }
  .star-bg .comment p {
    line-height: 23px;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .star-bg .comment strong{ font-size: 18px;}
  .star-bg .comment{width: 210px; padding-top: 10px; padding-bottom: 15px;}
  .star-bg .bottomStar .comment::before{
    border-left: 10px solid #eeeeee;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eeeeee;
    border-top: 10px solid transparent;
    right: -19px; bottom:10px; left:auto!important; top:auto!important}
    .star-bg .bottomStar .comment::after {right: -60px;
      bottom: -4px;left: auto;
      top: auto;}
      .w-30{width: 30%}

  #nt-example1-container{position: relative;}
  #nt-example1-next{height: 90px; width:100%; position: absolute; bottom: -15px;
    background: rgb(252,252,250);
  background: linear-gradient(180deg, rgba(252,252,250,0) 0%, rgba(255,255,255,0.6839110644257703) 52%, rgba(255,255,255,1) 100%); line-height: 70px;}
  #nt-example1-prev{height: 90px; width:100%; position: absolute; top: -35px;
    background: rgb(252,252,250);
    background: linear-gradient(0deg, rgba(252,252,250,0) 0%, rgba(255,255,255,0.6839110644257703) 52%, rgba(255,255,255,1) 100%); line-height: 70px;}


  @media (min-width: 300px) and (max-width: 575px)  {

    .w-30{width: 100%;}
  .star-bg .comment {
      width: 80%;
      margin-left: auto;
  }
  .star-bg .bottomStar .comment::before{
    border-left: 10px solid transparent;
    border-right: 10px solid #eeeeee;
    border-top: 10px solid #eeeeee;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 10px;}
    .star-bg .bottomStar .comment::after {left: -60px;
      top: -4px;}

      .mt-n1,.mt-n3,.mt-n5 {
        margin-top: 1rem !important;
      }
   }


  @media (min-width: 768px) and (max-width:1400px){ .w-30{width: 30%;}}
  .pill,
.btn-pill {
    border-radius: 50rem;
}
.comment img{position: absolute; right:0; top:0;}

#nt-example1 {
  height: 650px !important;
}

.title-l-4p5 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 4.5rem; 
  margin-top: -10px;
  line-height: 1;
}

.title-l-1p5 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 1.5rem;
  line-height: 1;
  margin-top: -2px
}

.title-b-1p2 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 1.2rem;
  line-height: 1;
  margin-top: -2px
}

.title-l-72 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 72px;
  line-height: .75;
}

.title-l-60 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 60px;
  line-height: .85;
}

.title-l-48 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 48px;
  line-height: .85;
}


.title-l-46 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 46px;
  line-height: .85;
}

.title-l-40 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 40px;
  color: #1d4189;
  line-height: .85;
}

.title-l-56 {
  font-family: "SEGOEUIL", "Segoe UI Bold", "Segoe UI";
  font-size: 56px;
  color: #1d4189;
}

.title-l-36 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 36px;
  line-height: 1.25;
}

.title-l-34 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 34px;
  line-height: 1.25;
}

.title-l-30 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 30px;
  color: #1d4189;
  margin-bottom: 10px;
}

.title-l-26 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 26px; 
}


.title-b-26 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 26px;
  color: #1d4189; 
}

.title-b-28 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 28px;
  color: #1d4189;
}


.title-l-24 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 24px;
  line-height: 1.3;
}

.title-l-22 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 22px; 
}

.title-l-20 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 20px;
}


.title-b-18 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 22px;
  color: #1d4189;
  line-height: 1;  
}


.title-l-18 {
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 18px;
  line-height: 1.4;
}


.title-18 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 18px; 
  line-height: 1; 
}

.title-l-16 {     
  font-family: "SEGOEUIL", "Segoe UI Light", "Segoe UI";
  font-size: 16px;
  line-height: 1.4;
}

.title-b-16 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 16px;
  line-height: 1.4;
}

.title-b-14 {
  font-family: "SEGOEUIB","Segoe UI Bold", "Segoe UI";
  font-size: 14px;
  font-weight: 700;
}

.title-12 {
  font-family: "SEGOEUI","Segoe UI Regular", "Segoe UI";
  font-size: 12px;
  line-height: 1.4;
}
span.toggleText {
  color: #3794ff!important;
}