

        <mat-dialog-content>
            <!-- Modal find a person -->
            <div id="denyuser" role="dialog">
                <div>
                    <!-- Modal content-->

                    <div class="modal-content border-0 p-3">
                        <div class="fd-header">
                            Denial Reason
                        </div>
                        <div class="modal-body title-18 text-blue pb-0">
                            <div class="row">
                                    <textarea class="form-control border-2 text-start text-blue" style="height: 100px;border-radius: 10px;" [(ngModel)]="this.message"></textarea>

                            </div>
                        </div>
                        <div class="modal-footer text-end">
                            <mat-dialog-actions style="margin-bottom: auto;">
                                <p></p>
                                <!-- <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" (click)="saveSelectedUser()"> <i class="fa fa-floppy-o"></i> Save</button>&nbsp;
                                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" (click)="close()"><i class="fa fa-times"></i> Close</button> -->
                                <button class="btn btn-warning cont-button" style="width: 195px;" (click)="updateStarRequest()">CONFIRM DENIED</button>
                            </mat-dialog-actions>
                        </div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
