<!-- <link href="././node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet"> -->
<div class="container py-4" *ngIf="!this.selectedUser">
    <div ng-controller="ManageUserCtrl" id="ManageUserCtrlID" ng-cloak>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="title-l-40">User Management </div>
            </div>
        </div>

        <div class="row mt-4 py-1">
            <div class="col-md-12 p-0">
                <div class="row">
                    <div class="col-md-3">
                        <label class="sr-only" for="txtSearch">Search</label>
                        <div class="input-group search-ctrl mb-2 mr-sm-2 p-0">
                            <input type="search" id="txtSearch" name="searchText" class="form-control rounded-5 bg-transparent pr-5 py-1 " 
                            style="outline:none !important;
                            outline-width: 0 !important;
                            box-shadow: none;border-radius: 40px;" aria-label="Search" aria-describedby="basic-addon2" placeholder="Search" [(ngModel)]="searchText">
                            <!-- <span class="input-group-text pill border-0 "><img src="assets/images/SearchMagnifyingGlass.png" alt=""
                                srcset="" width="24" (click)="getUserList()"></span> -->

                            &nbsp;<button type="button" class="btn btn-blue btn-pill py-1 rounded-5   pl-2 pr-5  mr-sm-3" style="border-radius: 40px;" (click)="getUserList()">Search</button>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="custom-control custom-checkbox  form-check-inline text-blue ml-5 py-2">
                            <input type="checkbox" class="custom-control-input" id="chkAll" (click)="getUserByRole($event)" [(ngModel)]="chkAllIsSelected"> &nbsp;
                            <label class="custom-control-label" for="chkAll">All</label>
                        </div>

                        <div class="custom-control custom-checkbox  form-check-inline text-blue">
                            <input type="checkbox" class="custom-control-input" id="chkSuperAdmin" (click)="getUserByRole($event)" [(ngModel)]="chkSuperIsSelected"> &nbsp;
                            <label class="custom-control-label"> Super Adminstrator</label>
                        </div>

                        <div class="custom-control custom-checkbox  form-check-inline text-blue">
                            <input type="checkbox" class="custom-control-input" id="chkSiteAdmin" (click)="getUserByRole($event)" [(ngModel)]="chkSiteIsSelected"> &nbsp;
                            <label class="custom-control-label" for="chkAdmin"> Site Adminstrator</label>
                        </div>

                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <!-- <a href="#" class="btn btn-blue align-items-end ml-5" title="Add New User" data-bs-toggle="modal" data-bs-target="#searchUser" (click)="openDialog()">
                            <img src="../assets/images/AddNewUserICon.png" /> Add New User
                        </a> -->
                        <button #findPerson type="button" class="btn btn-blue align-items-end ml-5" data-bs-toggle="modal" data-bs-target="#searchUser" (click)="openDialog()" style="margin-left: 45px;">
                            <img src="../assets/images/AddNewUserICon.png" /> Add New User
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 p-0">
                <div class="cust-bg-light cust-list-item" *ngFor="let user of this.userdetails | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index">
                    <div class="cust-list-item-body pl-5">
                        <table class="table border-0 m-0 ml-2">
                            <tr>
                                <td rowspan="3" class="col-image">
                                    <img id="userPhoto" src={{user.thumbnailPhoto}} class="rounded-circle border" style="width:100px;height: 100px;" />
                                </td>
                                <td class="col-name" width="200">
                                    <div class="cust-lbl">Name</div>
                                    <div class="cust-val">{{user.displayName}}</div>
                                </td>
                                <td class="col-corpid" width="160">
                                    <div class="cust-lbl">User ID</div>
                                    <div class="cust-val">{{user.corpID}}</div>
                                </td>
                                <td class="col-email">
                                    <div class="cust-lbl"></div>
                                    <div class="cust-val"></div>
                                </td>
                                <td width="270">
                                    <div class="cust-lbl">Department</div>
                                    <div class="cust-val">{{user.department}}</div>
                                </td>
                                <td width="200">
                                    <div class="cust-lbl">User Role</div>
                                    <div class="cust-val" *ngIf="user.userRoleId==1">
                                        Site Admin
                                    </div>
                                    <div class="cust-val" *ngIf="user.userRoleId==2">
                                        Super Admin
                                    </div>
                                </td>
                                <td width="100">
                                    <div class="cust-lbl">Status</div>
                                    <div class="cust-val">Active</div>
                                </td>
                                <td class="text-right pr-2 col-view col-action">
                                    <a class="btn btn-blue" title="Edit User" (click)="editUser(user)"><img src="../assets/images/EditIcon.png" /> Edit</a>
                                    <!-- <a ng-click="openAddEditUserView(item.AppUserId,item.CorpUserId)" ng-if="(session.RoleId == 1) || (session.RoleId == 2 && (item.RoleId == 3))" href="JavaScript:void(0);" class="btn btn-blue" title="Edit User"><img src="~/Images/EditIcon.png" /> Edit</a>
                                    @*<a ng-click="openAddEditUserView(item.AppUserId,item.CorpUserId)" ng-if="(session.RoleId == 1) || (session.RoleId == 2 && (item.RoleId == 2 || item.RoleId == 3))" href="JavaScript:void(0);" class="btn btn-blue" title="Edit User"><img src="~/Images/EditIcon.png" /> Edit</a>*@
                                    @*<a ng-click="openAddEditUserView(item.AppUserId,item.CorpUserId)" ng-if="session.RoleId == 1 || (session.RoleId == 2 && item.RoleId ==3)" href="JavaScript:void(0);" class="btn btn-blue" title="Edit User"><img src="~/Images/EditIcon.png" /> Edit</a>
                                        <a ng-click="openAddEditUserView(item.AppUserId,item.CorpUserId)" ng-if="(session.RoleId == 2 && item.RoleId ==2)" href="JavaScript:void(0);" class="btn btn-blue" title="View User"><img src="~/Images/EditIcon.png" /> View</a>*@ -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="cust-lbl">Created By</div>
                                    <div class="cust-val">{{user.createdBy}}</div>
                                </td>
                                <td>
                                    <div class="cust-lbl">Created Date</div>
                                    <div class="cust-val">{{user.createdDate}}</div>
                                </td>
                                <td colspan="4">
                                </td>
                                <td colspan="4" class="text-right pr-2 col-view col-action">
                                    <a class="btn btn-pink" title="Delete User" (click)="openDeleteDialog(user.corpID)"><img src="../assets/images/DeleteIcon.png" /> Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation example mt-5 mb-3">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link me-3" href="#" aria-label="Previous" style="display: none;">
                                <span aria-hidden="true"><img src="assets/images/back-arrow.png" alt="" srcset=""></span>
                            </a>
                        </li>
                        <!-- <li class="page-item"><a class="page-link " href="#">1</a></li>
                        <li class="page-item"><a class="page-link border-start-0" href="#">2</a></li>
                        <li class="page-item"><a class="page-link border-start-0" href="#">3</a></li> -->
                        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"></pagination-controls>
                        <li class="page-item">
                            <a class="page-link ms-3" href="#" aria-label="Next" style="display: none;">
                                <span aria-hidden="true"><img src="assets/images/next-arrow.png" alt="" srcset=""></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
<div *ngIf="this.selectedUser">
    <app-updateuser [selectedUser]="this.selectedUser" [isNewUser]="this.isNewUser" (selectedUserReset)="resetUser($event)"></app-updateuser>
</div>